.header-box{
    background-color: var(--color-white);
}

.pages__completed{
    /* height: 1rem; */
    width: 100%;
    background-color: var(--color-secondary-dark);
    position: relative;
    display:flex;  
}
.completed{
    height: 1rem;
    border-right: .2vw solid white;
    background-color: var(--color-secondary-dark);
    width:4.8vw;
}
.pages__header{
    height: 8rem;
    align-items: center;
    
    display: flex;
}
.pages__header p{
    border-left: 2px solid #b4b4b4;
    padding-left: 3rem;
    line-height: 2;
    margin-right: auto;
}
.pages__header h1{ /*for logo*/
    padding-right: 3rem;
}
.pages__header div{
    z-index: 200;
}